{% extends 'blog/base.html' %}

{% block content %}
    <div class="about-section">
      <h1>About Us Page</h1>
    <p>Αυτό το blog δημιουργήθηκε για να βοηθήσουμε τον καθένα να μπορέσει να πάρει μια εύκολη και γρήγορη απόφαση για το αιώνιο ερώτημα...'Τι Θα δούμε σήμερα?'</p>
    </div>
      <div class="column">
    <div class="card">
        <img src="/media/movie_images/67AF672C-C0D2-45FB-AE99-3470C904EF3D.jpeg" alt="Poly" style="width:50%">
      <div class="container">
        <h2>Τσικές Πολυμέρης</h2>
        <p class="title">Art Director</p>
        <p>Τσικές Πολυμέρης είναι ένας κορυφαίος διεθνούς φήμης κριτικός ταινιών, η γέννηση του οποίου σημειώθηκε στις 28 Δεκεμβρίου 1988. Με μια σπάνια ικανότητα να αναγνωρίζει την τέχνη και την έκφραση μέσω του κινηματογράφου, ο Πολυμέρης έχει καθιερωθεί ως πνευματώδης προσωπικότητα στον κόσμο του σινεμά.</p>
        <p>Ολοκληρωμένος και ενημερωμένος, ο Τσικές Πολυμέρης έχει διακριθεί για την κριτική του ευφυΐα και την ικανότητά του να αναδεικνύει τις λεπτομέρειες που κάνουν μια ταινία εξαιρετική. Οι απόψεις του διαμορφώνουν την κινηματογραφική κουλτούρα και έχουν επηρεάσει γενιές θεατών και δημιουργών</p>
        <p>Γεννημένος με τον εξερευνητικό πνευματισμό που χαρακτηρίζει τον καλλιτέχνη, ο Πολυμέρης συνεχίζει να προωθεί την αγάπη για τον κινηματογράφο και να αφυπνίζει συζητήσεις με τις κριτικές του αναλύσεις. Με πάθος για την τέχνη και την ανεξάντλητη αντίληψη του, ο Τσικές Πολυμέρης παραμένει ένας επιδραστικός παράγοντας στον κόσμο του κινηματογράφου</p>
        <p>tapame1988@hotmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
    <div class="card"> 
        <img src="/media/movie_images/67AF672C-C0D2-45FB-AE99-3470C904EF3D.jpeg" alt="Lew" style="width:50%">
     <div class="container">
       <h2>Λεωνίδας Μαρμαράκης</h2>
       <p class="title">Art Director</p>
        <p>Ο Λεωνίδας Μαρμαράκης, γεννημένος στις 21 Μαρτίου 1967, είναι ένας κριτικός ταινιών με διεθνή φήμη που έχει κατακτήσει τον κινηματογραφικό χώρο με τις ευφυείς και εμβληματικές του αναλύσεις. Η εξαιρετική του ικανότητα να ερμηνεύει τον κινηματογραφικό κόσμο και να αναδεικνύει τις λεπτομέρειες που κάνουν μια ταινία μοναδική τον έχει καθιερώσει ως μια επιφανή φυσιογνωμία στον χώρο.</p>
        <p>Με την ενδιαφέρουσα και ενημερωτική του προσέγγιση, ο Λεωνίδας Μαρμαράκης έχει επηρεάσει την κινηματογραφική κουλτούρα και έχει αφήσει το στίγμα του στον κόσμο του σινεμά. Οι κριτικές του αποτελούν πηγή έμπνευσης για γενιές θεατών και δημιουργών, ενώ ο εξερευνητικός του τρόπος σκέψης δίνει νέο όραμα στην κινηματογραφική σκηνή.</p>
        <p>Ο Λεωνίδας Μαρμαράκης παραμένει πρωτοπόρος, αναζητώντας συνεχώς την τελειότητα και προωθώντας την αγάπη για τον κινηματογράφο. Η γενναιοδωρία του στην κοινοποίηση των απόψεών του συνεχίζει να διαμορφώνει την κουλτούρα του κινηματογράφου και να εμπνέει όσους αναζητούν βαθύτερη κατανόηση του κινηματογραφικού τέχνημα.</p>
        <p>lewnmarm@gmail.com</p>
        <p><button class="button">Contact</button></p>
     </div>
  </div>
    
{% endblock %}
